@import '../mfv/_mfv'

section.forecast
    margin: auto
    background-color: $lapiz
    
div.weather-board
    display: flex
    flex-direction: column
    margin: auto
    justify-content: center
    background-color: $lapiz
    
    
div.weather-cards
    display: flex
    height: 80vh
    flex-wrap: wrap
    justify-content: space-around
    align-items: center
    max-width: 1024px
    div.weather-card
        display: flex
        flex-basis: 45%
        height: 30%
        flex-direction: column
        font-size: 1.5rem
        justify-content: center
        align-items: center
        border: lighten($moonblue, 25%) solid .2rem
        border-radius: 10%
        background-color: darken($moonblue, 15%)
        margin: auto
        img
            width: 8rem
            height: 8rem
    